.card_grid__loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 25px;
    gap: 30px;
}

.card_grid__loader img {
    max-width: 50px;
    max-height: 50px;
}

.card__header {
    font-size: 20px;
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}